<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="og:title" content="👑{{user}} ConcealMe🙈"/>
        <meta name="og:description" content="ConcealMe🙈 | 👑{{user}}" />
        <meta property="og:image" content="https://concealme.herokuapp.com{% static 'assets/img/about-img.jpg' %}"/>
        <meta property="og:url" content="https://concealme.herokuapp.com/" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
        <link href="{%  static 'images/download.png' %}" rel="icon">
        <link href="{% static 'images/download.png' %}" rel="apple-touch-icon">
        <link rel="stylesheet" href="{% static 'css/hearth-button.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />    </head>

    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
      
    <script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js' %}"></script>

    <body>

        <div id="wrap">
            <div class = 'container' >
                <nav  class="navbar navbar-light navbar-expand py-o bg-light justify-content-center fixed-top">
                    <div class="container py-o">
                        <ul class="navbar-nav nav-justified w-100 text-center mt-1">
                            <li class="nav-item">
                                <a href=" {% url 'anon:home' %}" class="nav-link py-0 d-flex flex-column" >
                                    <span class="fa  fa-lg" ><img style="width:28px; height:28px" src="{% static 'images/download.png' %}" alt="" class="img-fluid"></span>
                                     <span class="d-none d-sm-inline mt-1">Anonymous</span>
                                </a>
                            </li>
<!--                            <li class="nav-item">-->
<!--                                <a href=" {% url 'anon:dashboard' user %}" class="nav-link py-0 d-flex flex-column">-->
<!--                                    <span class="fas fa-home fa-lg" style="font-size:24px;" ></span>-->
<!--                                    <span class="d-none d-sm-inline mt-1">{{user}} Dashboard</span>-->
<!--                                </a>-->
<!--                            </li>-->
                            <li class="nav-item">
                                <a href=" {% url 'anon:telegram' user %}" class="nav-link py-0 d-flex flex-column" >
                                    <span class="fab fa-telegram-plane fa-lg" style="font-size:24px; color:#0088cc"></span>
                                    <span class="d-none d-sm-inline mt-1">Telegram</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'anon:favourites' user %}" class="nav-link py-0 d-flex flex-column" >
                                    <span class="fas fa-heart fa-lg" style="font-size:24px; color:red"></span>
                                    <span class="d-none d-sm-inline mt-1">Favourites</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-center d-flex py-0 flex-column" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-cog fa-lg" style="font-size:24px;"></span>
                                    <span class="d-none d-sm-inline px-1 mt-1">settings <small>▼</small></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'anon:update' user %}">Update Profile</a>
                                    <a class="dropdown-item" href="{% url 'anon:password' user %}">Change Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'anon:archive_list' user %}">View Archives</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'anon:sign_out' %}" class="nav-link py-0 d-flex flex-column" >
                                    <span class="fas fa-sign-out-alt fa-lg" style="font-size:24px;"></span>
                                    <span class="d-none d-sm-inline mt-1">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div  style="padding-top: 90px">
                    {% block content %}
                    {% endblock %}
                    {% block scripts %}{% endblock %}
                </div>
            </div>
            <div id="push"></div>
        </div>
        <div id="footer" style="padding-top:70px" >
            <footer class="fixed-botto page-foote font-smal cya darken-"   style="background-color:  white;  ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-3 text-center mx-auto  py-">
                            <div class="mb-1 text-center mx-auto">
                                &nbsp;<small style="font-size: 7px;" class="py-"><b> 👑KoredeDavid </b></small>
                                &nbsp;
                                <a target="_blank"  href="https://facebook.com/kingkorededavid">  <i class="fab fa-facebook fa-lg white-text" style="font-size:18px;"></i></a> &nbsp;
                                <a target="_blank"  href="https://twitter.com/kingkorededavid"><i class="fab fa-twitter fa-lg white-text" style="font-size:20px;"> </i></a> &nbsp;
                                <a target="_blank"  href="https://instagram.com/kingkorededavid"><i class="fab fa-instagram fa-lg white-text" style="font-size:20px;"> </i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background-color: 	#D3D3D3;" class="footer-copyright mx-auto text-center py-">© 2020 Copyright:
                  
                </div>
            </footer>
        </div>
    </body>

</html>


