{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}


       
       
            <div class="mx-auto text-center" style=" margin: auto; padding-top: 50px;">           
                <div class="row">
                    <div class="col-sm-6 mx-auto">
                        <div class="card" >
                            <div class="card-body">
                                <form class="text-center needs-validation border border-light " method="post" novalidate >
                                    <a href="{% url 'anon:home' %}" class="logo mr-auto"><img  style="width:70px; height:70px" src="{% static 'images/download.png' %}" alt="" class="img-fluid"></a>
                                    <br>
                                    <p class="h4 mb-4"><b>Change Your Password</b></p>
                                    <br>
                                    {% csrf_token %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% for field in update %}
                                        <div class="form-group ">
                                            {{ field }}
                                            
                                        </div>
                                        {% for error in field.errors %}
                                            <p class="alert alert-danger" role="alert"> {{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                    <button class="btn btn-info btn-block my-4" type="submit">Change</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                      form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                      }, false);
                    });
                  }, false);
                })();
                </script>
{% endblock %}